mixin home()
    - var prev = page.prev_link
    - var next = page.next_link
    .paginator
        if page.prev
            a.previous(href=url_for(prev))!= __('prev')
        else
            a.previous(class='disabled' href='javascript:;')!= __('prev')
        em
            != page.current
        if page.next
            a.next(href=url_for(next))!= __('next')
        else
            a.next(class='disabled' href='javascript:;')!= __('next')

mixin post()
    - var prev = page.prev;
    - var next = page.next;
    .paginator
        if prev
            a.previous(href=url_for(prev.path))
              != prev.title
        span.sep
          != ' - '
        if next
            a.next(href=url_for(next.path))
              != next.title
